/* 1 */
h1:hover {
  color: red;
}

/* 2 */
input[type=text] {
  border: 1px solid yellowgreen;
}

/* 3 */
a:visited {
  color: lightgrey;
}

/* 4 */
input[type=password] {
  background-color: coral;
}

/* 5 */
input:focus[type=email] {
  background-color: cyan;
}
